/* * {
    black   #12131A
    white   #EEEEEE
    green   #E6FF92
    green2  #D9FFCC
    yellow  #FFDB77
    red     #FF6A7D
    red2    #C0524C
} */

* {
    border: none;
    border-radius: 0;
    margin: 0;
    box-shadow: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    min-height: 0;
}

window#waybar {
    background: transparent;
    border-bottom: none;
    color: #1C1C24;
}

#workspaces button, #clock, #network, #memory, #cpu, #pulseaudio-slider {
    border-radius: 100px;
    background-color: #12131A;
    color: #EEEEEE;
}

#workspaces button {
    padding: 0 5px;
    margin-right: 10px;
}
#workspaces button:hover, #workspaces button.active {
    background: linear-gradient(6deg, #FFDB77, #E6FF92);
    color: #1C1C24;
}
/* #workspaces button.focused {
    background: #64727D;
} */

#clock {
    background: linear-gradient(6deg, #D9FFCC, #E6FF92);
    color: #12131A;
    font-size: 14px;
}

#clock, #network, #wireplumber, #pulseaudio, #memory, #cpu, #pulseaudio-slider {
    padding: 0 15px;
    margin-left: 10px;
}
#cpu {
    margin-right: 10px;
}

#workspaces button, #clock, #network, #memory, #cpu {
    padding-top: 4px;
}

#pulseaudio-slider {
    padding-top: 2px;
}
#pulseaudio-slider slider {
    min-height: 0;
    min-width: 0;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 20px;
    background-color: #EEEEEE;
}
#pulseaudio-slider highlight {
    /* min-width: 0px; */
    min-height: 10px;
    border-radius: 20px;
    background: linear-gradient(6deg, #FF6A7D, #C0524C);
}

#power {
    background-color: #12131A;
    color: #EEEEEE;
    border-radius: 100px;
    
}
#custom-poweroff {
    font-size: 14px;
    background: linear-gradient(6deg, #FFDB77, #E6FF92);
    border-radius: 100px;
    color: #12131A;
    padding: 0 7px;
}

#custom-reboot {
    font-size: 18px;
    margin-left: 2px;
    margin-right: 7px;
    padding: 0 8px;
}
#custom-suspend {
    font-size: 14px ;
    padding: 0 8px;
}
.pomo--work, .pomo--work--off, .pomo--break, .pomo--break--off {
    font-size: 14px;
    border-radius: 100px;
    background-color: #12131A;
    padding: 0 15px;
    padding-top: 4px;
    margin-left: 10px;
}
.pomo--work {
    color: #E6FF92;
}
.pomo--work--off {
    color: #AEBE78;
}
.pomo--break {
    color: #FFE59E;
}
.pomo--break--off {
    color: #B9A570;
}
