/* * {
    black   #090909
    white   #EEEEEE
    pink    #DBB4F0
    purple  #CAB6FF
    blue    #96EAFF

    audio slider
    white   #726576
} */

* {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-family: '0xProto Nerd Font', Roboto, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    min-height: 0;
}

window#waybar {
    border-bottom: none;
    color: #EEEEEE;
    background: rgba(16, 16, 12, 0.93);
    border: 2px solid #0A0012;
    border-radius: 5;
}

#workspaces {
  margin-top: 10px;
}
#workspaces button {
    color: #EEEEEE;
    padding: 5px 0;
    transition-duration: .2s;
}
#workspaces button.active {
    background: linear-gradient(90deg, #CAB6FF, #E5B1E4);
    color: #090909;
}
#workspaces button:hover {
    background: #FFFFFF;
    color: #090909;
}
#workspaces button.persistent {
}

#clock.time {
    color: #FFFFFF;
    font-size: 35px;
    margin-bottom: 10px;
    margin-right: 4px;
    /*padding-top: 4px;*/
}
#clock.day {
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 7px;
}

#memory, #network {
    font-size: 11;
    color: #FFFFFF;
    margin-bottom: 8px;
}
#cpu {
    font-size: 11;
    color: #FFFFFF;
    margin-bottom: 15px;
}


#pulseaudio-slider slider {
    min-height: 0;
    min-width: 0;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 100px;
    min-width: 14px;
    border-radius: 5px;
    background-color: #726576;
}
#pulseaudio-slider highlight {
    min-width: 14px;
    /* min-height: 10px; */
    border-radius: 5px;
    background: linear-gradient(90deg, #CAB6FF, #E5B1E4);
}

#custom-poweroff, #custom-reboot, #custom-suspend {
    color: #EEEEEE;
    font-size: 20px;
    margin: 0 10px;
    transition-duration: .2s;
}
#custom-poweroff:hover, #custom-reboot:hover, #custom-suspend:hover {
    color: #DBB4F0;
}
#custom-poweroff {
    margin-bottom: 20px;
    margin-right: 15px;
}

#custom-reboot {
  font-size: 25px;
}
#custom-suspend {
  margin-bottom: 2px;
}
.pomo--work, .pomo--work--off, .pomo--break, .pomo--break--off {
    font-size: 14px;
    border-radius: 3px;
    padding: 10px 0;
    padding-left: 3px;
    margin: 20px 6px;
}
.pomo--work {
    color: #96EAFF;
    border: 2px solid #96EAFF;
}
.pomo--work--off {
    color: #96EAFF;
    border: 2px solid #FFFFFF;
}
.pomo--break {
    color: #DBB4F0;
    border: 2px solid #DBB4F0;
}
.pomo--break--off {
    color: #DBB4F0;
    border: 2px solid #FFFFFF;
}
